{{!--
	An author template for the author archive pages. Read more about it in https://themes.ghost.org/docs/templates
--}}

{{!< default}}

{{#author}}
	<div class="author-page-data my-5">
        <p>You're looking at all the posts published by </p>
        <h2>{{name}}</h2>
	</div>
{{/author}}

<div class="post-feed row">
    {{#foreach posts}}
        {{> "post-card"}}
    {{/foreach}}

    {{pagination}}
</div>